<h1>New departamento</h1>




<%= render( { :partial => 'departamentos/form' } ) %>
<%- if ( request.xhr? ) -%>
 <%= link_to 'Close', '#', { :onClick => "jQuery( '#new_departament_form' ).dialog( 'close' );return( false );" } %>
<%- else -%>
<%= link_to 'Back', departamentos_path %>
<%- end -%>