<h1>New ciudad</h1>

<%= render 'form' %>
<%- if ( request.xhr? ) -%>
 <%= link_to 'Close', '#', { :onClick => "jQuery( '#new_ciudad_form' ).dialog( 'close' );return( false );" } %>
<%- else -%>
<%= link_to 'Back', ciudades_path %>
<% end %>